#flowWhite {
    -fx-background-color: white;
    -fx-background-radius: 30px;
}

#flowGradient1 {
    -fx-background-color: linear-gradient(to top right, #FF0F7B, #F89B29);
}

#flowGradient2 {
    -fx-background-color: linear-gradient(to right top, #FF0F7B, #F89B29);
}

.table-view {
    -fx-background-color: white;
    -fx-fill: black;
    -fx-border-color: black;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-color: grey;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.button, .text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.button:pressed {
    -fx-rotate: 10px;
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#lblVisuel {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}